<p style="color: green"><%= notice %></p>

<%= render @category %>

<% @category.expenses.order('created_at DESC').each do |expense| %>
  <%= render expense %>
<% end %>

<%= link_to "New expense", new_category_expense_path(@category) %>

<div>
  <%= link_to "Edit this category", edit_category_path(@category) %>
  <%= link_to "Back to categories", categories_path %>

  <%= button_to "Destroy this category", @category, method: :delete %>
</div>
